<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @nav_content.content_id %>
</p>

<%= link_to 'Edit', edit_nav_content_path(@nav_content) %> |
<%= link_to 'Back', nav_contents_path %>
